{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <title> {{ customer_name }} Homepage </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/client.css') }}">
    <meta name="description" content="My retail strategies page" />
</head>
<body>
    <div class="title-container">
        <h1>{{ customer_name }} Homepage</h1>
    </div>
    <div class="content-container">
        <!-- Banner here -->
        <div class="horizontal-container" style="height: 30%;">
            <div class="section-container" style="width: 50%;">
                <!-- Imported data -->
                <h2>Data Imported</h2>
            </div>
            <div class="section-container" style="width: 50%;">
                <!-- Data tutorials -->
                <h2>Data Tutorials</h2>
            </div>
        </div>
        <div class="horizontal-container" style="height: 50%;">
            <div class="section-container" style="width: 70%;">
                <!-- Retailer progress -->
                <h2>Progress Board</h2>
                <div>
                    <!-- Progress Board Widget -->
                    <div class="board">
                        <div class="column" id="inProgressColumn">
                            <header>In Progress</header>
                        </div>
                        <div class="column" id="wonColumn">
                            <header>Won</header>
                        </div>
                        <div class="column" id="lostColumn">
                            <header>Lost</header>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-container" style="width: 30%;">
                <!-- PDF stuff, marketing material -->
                <h2>Marketing Material</h2>
            </div>
        </div>
        <div class="horizontal-container" style="height: 50%;">
            <div class="section-container" style="width: 70%;">
                <!-- Should be messenger -->
                <h2>Messenger</h2>
            </div>
            <div class="section-container" style="width: 30%;">
                <!-- Should be tableau or graph visuals -->
                <h2>Visuals</h2>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/client.js"></script>
{% endblock %}
