/* Import fonts */
:root {}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

.title-container {
    text-align: center;
    padding: 1em;
}

.content-container {
    padding-left: 4em;
    padding-right: 4em;
}

.horizontal-container {
    display: flex;
    padding: 1em;
}

.section-container {
    background-color: grey;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
