@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --retail-green: #04AA6D;
}

html {
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

.center {
    text-align: center;
}



.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.welcome-banner {
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    lefT: 0;
    bottom: 0;
    top: 0;
    min-height: 100vh;
    min-width: 60%;
    max-width: 60%;
    /*background-color: var(--retail-green);*/
    background-image: url('../imgs/bham.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    font-family: 'Lobster', sans-serif;
    text-align: center;
    align-items: center;
    /* border-bottom-right-radius: 5%;
    border-top-right-radius: 5%; */
}

.portal-rule {
    /* Set the image path */
    background-image: url('../imgs/PORTAL.png');

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Make the image transparent */
    opacity: 0.93; /* Adjust the value between 0 (completely transparent) and 1 (completely opaque)

    /* Set background properties for the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* Set rounded corners */
    border-radius: 15px; /* Adjust the value for the desired corner radius */

    display: flex;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 35%;
}

.welcome-text {
    text-align: center;
    text-wrap: wrap;
    font-size: 9em;
    display: inline-block;
    
    max-width: 70%;
}

/* .login-form-div {
    left: 50%;
    width: 50%;
    min-height: 100vh;
    position: absolute;
    display: flex;       
    align-items: center;   
    justify-content: center; 
} */
.login-form-div {
    left: 60%;
    width: 40%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column; /* This will stack the children vertically */
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

input#username, input#password {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    font-size: 1.2em;
}

button#loginButton {
    width: 60%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button#loginButton:hover {
    background-color: #45a049;
}


/* Client Selection Tools Container */
.client-selection-container, .client-files-container {
    padding-inline:5%;
    background-clip: content-box;
    display: block;
    min-width: 100%;
    background-color: whitesmoke;
}

/* Client Container Where Graphs Will Be Shown */

.client-container {
    padding: 1.5%;
    background-clip: content-box;
    display: grid;
    min-height:75%;
    height: 150%;
    /* min-width: 100%; */
    background-color: whitesmoke;
}

/* Each Client Horizontal Container */
.client-placeholder-horizontal-container {
    /* padding-inline:5%; */
    background-clip: content-box;
    width:inherit;
    /* max-width: 50%; */
    display: flex;
    background-color: whitesmoke;
}

/* All Placeholder Containers */
.client-placeholder-container {
    padding: 1.5%;
    /* width: 100%; */
    /* background-clip: content-box; */
    /* min-width: 100%; */
    display: inline-grid;
    /* max-width: fit-content; */
    background-color: whitesmoke;
}

/* Each Placeholder Itself */
.placeholder {
    background-color: grey;
    width: 50%;
    position: relative;
    margin:1%;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
}

.logout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container {
    padding-left: 4em;
    padding-right: 4em;
}

.horizontal-container {
    display: flex;
    padding: 1em;
}

.section-container {
    color: #f6f5f6;
    background-color: #363948;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 8px;
    height: 100%;
}

.underlined-heading {
    border-bottom: 2px solid #78be20;
    padding: 5px;
}



/* Style for the submit button */
.delete {
    background-color: #363948; /* Green background color */
    color: red; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px;
    /* padding: 5px 10px; Add padding */
    cursor: pointer; /* Add cursor pointer on hover */
    float:right;
}


.client-selector{
    background-color:#363948;
    width: 100%;
}

#uploadBox, #uploadSubmit {
    background-color:#363948
}

.listed-file, .listed-file:hover{
    color:rgb(255, 255, 255);
}

.files-list-large{
    padding: 2%;
    height: 69%;
    /* height: 185px; */
    width: 100%;
    overflow-y: scroll;
    border:1px solid #78be20;
    
}
/* issue when window is half width */
/* due to the heading overflowing vertically */
.files-list-long{
    padding: 2%;
    /* max */
    /* height: 385px; */
    height:82%;

    width: 100%;
    overflow-y: scroll;
    border:1px solid #78be20;
    
}

.files-list{
    padding: 2%;
    max-height: 100px;
    width: 100%;
    overflow-y: scroll;
    border:1px solid #78be20;
    
}

/* Admin Create User */
.createUser-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.createUser-form {
    width: 30%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

input#first_name, 
input#last_name, 
input#city, 
input#state,
input#username,
input#password {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#user_type {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input#createUserButton {
    display: block;
    width: 60%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input#createUserButton:hover {
    background-color: #45a049;
}

/* admin dashboard stuff */
.dashboard-container {
    padding: 20px;
}
button#createNewUserButton {
    display: block;
    width: 30%;
    font-size: 1.2em; 
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button#createNewUserButton:hover {
    background-color: #78a37b;
}

.users-list {
    width: 80%;
    margin: auto;
}

.users-list table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.users-list th, .users-list td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-list th {
    background-color: #f2f2f2;
    color: #333;
}

.users-list tr:hover {
    background-color: #f5f5f5;
}

.user-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}