<!-- Quick testing version here - Michael -->
{% extends "base.html" %}
{% block content %}
    <h1>Admin Dashboard</h1>
    <h2>Create users</h2>
    <button onclick="location.href='/create_user'">Add New User</button>
    <h2>User List</h2>
    <div class="users-list">
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Type</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>{{ user.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
