<!-- Quick testing version here - Michael -->
{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <h1>Admin Dashboard</h1>
    <h2>Create users</h2>
    <button onclick="location.href='/create_user'" id="createNewUserButton">Add New User</button>
    <h2>User List</h2>
    <div class="users-list">
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User Type</th>
                    <th>Username</th>
                    <th>City ID</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.user_type }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.cityID }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>City List</h2>
    <div class="city-list">
        <table border="1">
            <thead>
                <tr>
                    <th>City ID</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for city in cities %}
                <tr>
                    <td>{{ city.cityID }}</td>
                    <td>{{ city.city }}</td>
                    <td>{{ city.state }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
