{% extends "base.html" %}
{% block content %}
    <h1>Company Page</h1>
    <h2>Dashboard</h2>
    <!-- Container to select client -->
    <div class="client-selection-container">
        
    </div>
    <!-- Container for Details -->
    <div class="client-container">
        <div class="client-placeholder-container">
            <div class="client-placeholder-horizontal-container">
                <div class="placeholder">
                    <h2>Graph here</h2>
                </div>
                <div class="placeholder">
                    <h2>Test</h2>
                </div>
            </div>
            <div class="client-placeholder-horizontal-container">
                <div class="placeholder">
                    <h2>Graph here</h2>
                </div>
                <div class="placeholder">
                    <h2>Test</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}