{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="utf-8" />
    <title> My retail strategies Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <meta name="description" content="My retail strategies page" />
</head>

<body>
    <div>
        <h1 class="center">Homepage Login</h1>
        <form class="login-form center" action="{{url_for('auth')}}">
            <label for="user">Username:</label>
            <input type="username" name="user">
            <label for="pass">Password:</label>
            <input type="password" name="pass">
            <input type="submit" value="Log In">
        </form>
    </div>
</body>
{% endblock %}